<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DrySoTec GmbH | DrySoTec GmbH</title>

    <script defer src="assets/js/alpine.js"></script>
    <link rel="stylesheet" href="./assets/css/swiper.css">
    <link rel="stylesheet" href="./assets/css/output.css">
    <link rel="shortcut icon" href="favicon.webp" type="image/x-icon">
</head>
<body>
    <a class="skip_link" href="#content">Skip to content</a>
    
    <!-- Main -->
    <main id="content">
         <!-- section blue color block -->
      <section class="ctm_sec">
        <div class="container">
            <div class="row cols_1">
                 <div class="col box-blue">
                    <div class="component">
                        <div class="v-blockcard v-blockcard-center flex flex-col gap-sec-lg">
                                <div class="vflex alignment-center gap-32 max-w-820 mx-auto">
                                    <h2 class="text-35">Trockene Rauchgasreinigung (Trockenabsorption, konditionierte Trockenabsorption)</h2>
                                    <div class="prose space-y-20 text-18">
                                        <p>Bei der trockenen Rauchgasreinigung wird bei Bedarf vor der eigentlichen Reaktionsstufe das Rauchgas befeuchtet und gekühlt. Dies geschieht zum einen zwecks Filterschutz (Temperatur) und zum anderen (bei Kalkeinsatz) zur Anfeuchtung des Abgases bis in den Taupunktsbereich.</p>
                                    
                                        <p>Um die im Abgasstrom enthaltenen Schadstoffe, wie Salzsäure (HCl), Schwefeldioxid (SO2), organische Schadstoffe (z.B. PCDD/-DF, PCB) sowie ökotoxische Schwermetalle (z.B. Quecksilber) zu binden, werden in der nachfolgenden Reaktionsstrecke Sorptionsmittel wie NaHCO3 oder Kalkhydrate und Herdofenkoks zudosiert.</p>
                                        <p>Die Reaktionsprodukte werden durch ein nachgeschaltetes Filter effizient abgeschieden und gegebenenfalls rezirkuliert.</p>
                                      
                                    </div>
                                </div>
                                <div class="vflex alignment-center gap-32">
                                    
                                          <h3 class="heading_3">Schema einer konditionierten 2-stufigen Trockenabsorption:</h3>    
                                            <img src="./assets/images/ktrocken.webp" alt="ktrocken">
                                 
                                  
                                    
                                        <h3 class="heading_3">Schema einer (kond.) Trockenabsorption mit NaHCO3:</h3>  
                                        <img src="./assets/images/nahco3trocken.webp" alt="nahco3trocken">  
                                   
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </section>
    </main>
    
   <!-- Production version -->
  <script src="assets/js/lucide.js"></script>

  <script src="assets/js/swiper-bundle.min.js"></script>

  <script src="assets/js/script.js"></script>
</body>
</html>
