<!doctype html>
<html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DrySoTec GmbH | DrySoTec GmbH</title>

    <script defer src="assets/js/alpine.js"></script>

    <link rel="stylesheet" href="./assets/css/aos.css">
  <link rel="stylesheet" href="./assets/css/swiper.css" />
  <link rel="stylesheet" href="./assets/css/output.css" />
  <link rel="shortcut icon" href="favicon.webp" type="image/x-icon">
</head>
  <body>
        <a class="skip_link" href="#content">Skip to content</a>

<!-- Main -->
    <main id="content">
  
  <!-- footer -->
                    <footer>
                      <div class="container">
                            <div class="space-y-8">
                                <div class="footer-top box-white bg-footer_bg rounded-3xl flex flex-col gap-fluid">
                                  <div>
                                      <a href="#" aria-label="DrySoTec Startseite">
                                        <img src="./assets/images/Drysotec-logo-dark.svg" alt="DrySoTec" class="w-136">
                                      </a>
                                  </div>
                                    <div class="footer-blocks grid gap-24 xxl:gap-32 ">
                                      <!-- foot block 1 -->
                                        <div class="space-y-32">
                                            <div>
                                              <span class="text-sm"><strong>DrySoTec GmbH</strong><br>
                                                  ‍Alfredstraße 279<br>
                                                  45133 Essen<br>
                                                  Deutschland
                                                  </span>
                                            </div>
                                            <div class="space-y-5">
                                                <div class="flex justify-start items-center font-light text-sm">
                                                  <span>Telefon:</span>
                                                  <a href="#" class="font-medium underline underline-offset-2"> +49 (0) 201 / 4 37 83 – 0</a>
                                                </div>
                                                <div class="flex justify-start items-center font-light text-sm">
                                                  <span>Telefax:</span>
                                                  <a href="#" class="font-medium underline underline-offset-2">+49(0)201/43783–33</a>
                                                </div>
                                                <div class="flex justify-start items-center font-light text-sm">
                                                  <span>E-Mail:</span>
                                                  <a href="#" class="font-medium underline underline-offset-2">info@drysotec.de</a>
                                                </div>
                                            </div>
                                            <div class="flex justify-start items-center gap-10 flex-wrap">
                                                <a href="#">
                                                  <img src="/assets/images/linkedin-icon.svg" alt="linkedin icon">
                                                </a>
                                                
                                            </div>
                                        </div>
                                      <!-- foot block 2 -->
                                      <div class="space-y-32">
                                            <div>
                                              <span class="text-sm font-medium">ERKUNDEN
                                              </span>
                                            </div>
                                            <div class="footer-links [&_ul]:flex [&_ul]:flex-col [&_ul]:gap-4 [&_li]:py-2 [&_li]:text-sm [&_li]:font-medium">
                                                <ul>
                                                    <li><a href="#">Home</a></li>
                                                    <li><a href="#">Über uns</a></li>
                                                    <li class="menu-items menu-has-children"><a href="#">Liefer- und Leistungsspektrum</a>
                                                      <ul class="submenu">
                                                        <li><a href="#">SNCR (DeN­Ox)</a></li>
                                                        <li><a href="#">Mobile SNCR & Temperaturmessungen</a></li>
                                                        <li><a href="#">Tanklager</a></li>
                                                        <li><a href="#">Reduktionsmittel</a></li>
                                                        <li><a href="#">Service & Instandhaltung</a></li>
                                                      </ul>
                                                    </li>
                                                    <li><a href="#">Technologien</a></li>
                                                    <li><a href="#">Kontakt</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <!-- Foot block 3 -->
                                        <div class="space-y-32">
                                            <div>
                                              <span class="text-sm font-medium">UNTERNEHMEN
                                              </span>
                                            </div>
                                            <div class="footer-links1 [&_ul]:flex [&_ul]:flex-col [&_ul]:gap-4 [&_li]:py-2 [&_li]:text-sm [&_li]:font-light">
                                                <ul>
                                                    <li><a href="#">M&S Umwelttechnik </a></li>
                                                    <li><a href="#">HKL Anlagentechnik</a></li>
                                              
                                                    <li><a href="#">DrySoTec</a></li>
                                                    <li><a href="#">vysion aset</a></li>
                                                    <li><a href="#">M&S Environmental Technologies</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <!-- Foot block 4 -->
                                        <div class="space-y-32">
                                            <div>
                                              <span class="text-sm font-medium">Über DrySoTec
                                              </span>
                                            </div>
                                            <div class="text-sm font-light">
                                              <p>DrySoTec GmbH ist Ihr Spezialist für innovative, ökologisch und ökonomisch optimierte Rauchgasreinigungen nach neuestem Stand der Technik.</p>
                                            </div>
                                            <div class="flex flex-col gap-fluid-md">
                                              <span class="text-sm font-light">Unsere Unternehmen:</span>
                                              <div class="grid grid-cols-2 sm:grid-cols-3 xxl:grid-cols-5 gap-20 justify-center items-center">
                                                <a href="#">
                                                  <img src="assets/images/Ebene_1.svg" alt="Mehldau & Steinfath Umwelttechnik">
                                                </a>
                                                <a href="#">
                                                  <img src="assets/images/HKL_Anlagentechnik.svg" alt="HKL Anlagentechnik">
                                                </a>
                                                <a href="#">
                                                  <img src="assets/images/_M&S_Environmental_Technologies.svg" alt="M&S Environmental Technologies">
                                                </a>
                                                <a href="#">
                                                  <img src="assets/images/Drysotec.svg" alt="DrySoTec">
                                                </a>
                                                <a href="#">
                                                  <img src="assets/images/vysion_aset.svg" alt="vysion aset">
                                                </a>
                                              </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- copyright block -->
                                <div class="bg-dark_blue px-70 py-32 rounded-3xl">
                                      <div class="flex justify-center lg:justify-between items-center gap-20 flex-wrap text-center">
                                          <div class="text-white font-semibold text-sm text-center w-full lg:w-auto">
                                            © 2026 DrySoTec GmbH
                                          </div>
                                          <div class="*:text-white flex gap-20  justify-center items-center text-sm font-normal [&_a]:transition [&_a]:hover:underline [&_a]:hover:underline-offset-2 w-full lg:w-auto wrap lg:flex-nowrap">
                                              <a href="#">
                                                  <span>Impressum</span>
                                              </a>
                                              <a href="#">
                                                  <span>Datenschutz</span>
                                              </a>
                                              <a href="#">
                                                  <span>VDH | GROUP COMMERCIAL CONDITIONS</span>
                                              </a>
                                          </div>
                                      </div>
                                </div>
                            </div>
                      </div>
                          
                      
                    </footer>

</main>
<!-- Production version -->
<script src="assets/js/aos.js"></script>
<script src="assets/js/lucide.js"></script>
<script src="assets/js/swiper-bundle.min.js"></script>
<script src="assets/js/script.js"></script>
     
  </body>  
</html>