<!doctype html>
<html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DrySoTec GmbH | DrySoTec GmbH</title>

    <script defer src="assets/js/alpine.js"></script>

    <link rel="stylesheet" href="./assets/css/aos.css">
  <link rel="stylesheet" href="./assets/css/swiper.css" />
  <link rel="stylesheet" href="./assets/css/output.css" />
  <link rel="shortcut icon" href="favicon.webp" type="image/x-icon">
</head>
<body>
    <a class="skip_link" href="#content">Skip to content</a>
    
    <!-- Main -->
    <main id="content">
         <!-- section-form -->
     <section data-section class="ctm_sec my-sec-lg">
            <div class="container">
                <div class="grid xl:grid-cols-2 gap-26">
                  <!-- box-left -->
                    <div class="bg-white border-l-8 lg:border-l-20 px-25 md:px-40 xl:px-75 py-25 md:py-60 xl:py-90 border-red rounded-[20px] flex flex-col gap-30 xl:gap-75">
                        <h2 class="text-35 font-medium">
                            Haben Sie Fragen?
                        </h2>
                        <form class="grid md:grid-cols-2 gap-8 xl:gap-16">
                            <div class="input_wrapper group md:col-span-2 group error">
                                <label for="firma" class="sr-only">Firma</label>
                                <input type="text" name="firma" id="firma" placeholder="Firma"
                                    class="py-10 px-14 md:px-20 rounded-xl md:rounded-2xl border border-[#a0c5e3] text-blue placeholder:text-[#a0c5e3] w-full group-[.error]:border-red h-48 text-18 focus-visible:outline-blue  focus-visible:text-blue font-light"
                                    required>
                                <div class="feild_message text-xs mt-2 text-red">
                                    Dieses Feld ist erforderlich :(
                                </div>
                            </div>
                            <div class="input_wrapper group">
                                <label for="vorname" class="sr-only">vorname</label>
                                <input type="text" name="vorname" id="vorname" placeholder="Vorname"
                                    class="py-10 px-14 md:px-20 rounded-xl md:rounded-2xl border border-[#a0c5e3] text-blue placeholder:text-[#a0c5e3] w-full group-[.error]:border-red h-48 text-18 focus-visible:outline-blue   focus-visible:text-blue font-light"
                                    required>
                            </div>
                            <div class="input_wrapper group">
                                <label for="nachname" class="sr-only">nachname</label>
                                <input type="text" name="nachname" id="nachname" placeholder="Nachname"
                                    class="py-10 px-14 md:px-20 rounded-xl md:rounded-2xl border border-[#a0c5e3] text-blue placeholder:text-[#a0c5e3] w-full group-[.error]:border-red h-48 text-18 focus-visible:outline-blue  focus-visible:text-blue font-light"
                                    required>
                            </div>
                            <div class="input_wrapper group md:col-span-2">
                                <label for="email" class="sr-only">email</label>
                                <input type="eamil" name="email" id="email" placeholder="E-mail adresse"
                                    class="py-10 px-14 md:px-20 rounded-xl md:rounded-2xl border border-[#a0c5e3] text-blue placeholder:text-[#a0c5e3] w-full group-[.error]:border-red h-48 text-18 focus-visible:outline-blue   focus-visible:text-blue font-light"
                                    required>
                            </div>
                            <div class="input_wrapper group md:col-span-2">
                                <label for="nachricht" class="sr-only">nachricht</label>
                                <textarea type="text" name="nachricht" id="nachricht" placeholder="Ihre Nachricht …"
                                    class="py-10 px-14 md:px-20 rounded-xl md:rounded-2xl border border-[#a0c5e3] text-blue placeholder:text-[#a0c5e3] w-full group-[.error]:border-red h-48 text-18 focus-visible:outline-blue  focus-visible:text-blue font-light min-h-128"></textarea>
                            </div>
                            <div class="input_wrapper group flex md:col-span-2 text-sm font-normal text-[#8283a4] gap-10 items-start">
                                <input type="checkbox" name="policyCheck" id="policyCheck"
                                    class="mt-2 accent-brand-blue">
                                <label for="policyCheck" class="">
                                    Wenn Sie die im Kontaktformular eingegebenen Daten durch Klick auf den „Abschicken-Button“ übersenden, erklären Sie sich mit unserer <a href="/" class="inline underline underline-offset-2 font-semibold">Datenschutzerklärung</a> einverstanden. 
                                </label>
                            </div>
                            <div class="submission_message text-sm md:col-span-2 text-green-600">
                                Formular gesendet :)
                            </div>
                            <div class="submission_message text-sm md:col-span-2 text-red">
                                Unerwarteter Fehler :(
                            </div>
                            <div class="flex justify-end md:col-span-2">
                                <button type="submit" class="btn-primary h-60">
                                    ABSCHICKEN
                                </button>
                            </div>
                        </form>
                    </div>
                    <!-- box-right -->
                    <div class="card-right vblockcard bg-dark_blue px-25 md:px-40 xl:px-75 py-25 md:py-60 xl:py-90 rounded-[20px] text-white flex flex-col gap-30 xl:gap-75 justify-between">
                        <h2 class="text-35 font-medium">
                            Kontakt
                        </h2>
                        <div class="vflex text-22 space-y-16 lg:space-y-24 [&_a]:underline [&_a]:underline-offset-2">
                            <p><b>DrySoTec GmbH</b></p>
                            <p>
                                Alfredstraße 279 <br>
                                D-45133 Essen
                            </p>
                            
                            <p>
                                Telefon: <a href="/">+49 (0) 201 / 4 37 83 - 0</a> <br>

                                Fax: <a href="/">+49 (0) 201 / 4 37 83 - 33</a> <br>

                            </p>
                            <p>
                               E-Mail Zentrale: <a href="/">zentrale@vdh-group.de</a>
                            </p>
                            <p>
                                Bewerbung: <a href="/">bewerbung@vdh-group.de</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    
 <!-- Production version -->
<script src="assets/js/aos.js"></script>
<script src="assets/js/lucide.js"></script>
<script src="assets/js/swiper-bundle.min.js"></script>
<script src="assets/js/script.js"></script>
</body>
</html>
