<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DrySoTec GmbH | DrySoTec GmbH</title>

    <script defer src="assets/js/alpine.js"></script>
    <link rel="stylesheet" href="./assets/css/swiper.css">
    <link rel="stylesheet" href="./assets/css/output.css">
    <link rel="shortcut icon" href="favicon.webp" type="image/x-icon">
</head>
<body>
    <a class="skip_link" href="#content">Skip to content</a>
    <!-- header new -->
    <!-- Main -->
    <main id="content">
        <!-- section-breadcrumbs -->
        <section class="ctm_sec">
            <div class="container">
                <div class="component">
                    <div class="box-white w-full rounded-3xl bg-white py-20 px-30 md:px-48 xl:px-64 mb-16">
                        <div class="flex items-center gap-8 text-sm font-light text-dark_blue compact-2xl">
                            <a href="/" class="breadcrumb-link">Home</a>
                            <div class="breadcrumb-text">&gt;</div>
                            <a href="/ueber-uns" aria-current="page" class="breadcrumb-link underline underline-offset-2 text-blue">Über uns</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    
   <!-- Production version -->
  <script src="assets/js/lucide.js"></script>

  <script src="assets/js/swiper-bundle.min.js"></script>

  <script src="assets/js/script.js"></script>
</body>
</html>
