<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DrySoTec GmbH | DrySoTec GmbH</title>
  <!-- <script defer src="assets/js/collapse.min.js"></script> -->
  <script defer src="assets/js/alpine.js"></script>

  <link rel="stylesheet" href="./assets/css/swiper.css" />
  <link rel="stylesheet" href="./assets/css/output.css" />
  <link rel="shortcut icon" href="favicon.webp" type="image/x-icon">
</head>
  <body>
        <a class="skip_link" href="#content">Skip to content</a>

<!-- Main -->
    <main id="content">
  
       <!-- section-page-end -->
         <section class="py-sec-lg">
            <div class="container">
               <div class="component">
                  <div class="box-white bg-white rounded-3xl flex flex-col gap-fluid mb-8">
                      <!-- Top Title -->
                       <div class="flex justify-center items-center flex-col gap-fluid">
                          <a href="#">
                            <img src="/assets/images/vdh-logo.svg" alt="VDH Group | Ihr Partner im Anlagenbau & Umwelttechnik" class="vdh-group-logo">
                          </a>
                          <div class="divider w-154 h-1 bg-red"></div>
                       </div>
                       <!-- bottom blocks -->
                        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 xlg:grid-cols-5 gap-32">
                            <div class="flex flex-col justify-start items-center text-center gap-24">
                                <a href="#">
                                  <img src="/assets/images/msu-logo-blue.svg" alt="Mehldau & Steinfath Umwelttechnik">
                                </a>
                                <div class="text-sm">
                                    <p>Mehldau & Steinfath Umwelttechnik ist Ihr Partner und Lösungsanbieter im Bereich der Rauchgasentstickung für Großfeuerungsanlagen.</p>
                                </div>
                            </div>
                            <div class="flex flex-col justify-start items-center text-center gap-24">
                                <a href="#">
                                  <img src="/assets/images/hkl-logo-blue.svg" alt="HKL Anlagentechnik">
                                </a>
                                <div class="text-sm">
                                    <p>HKL Anlagentechnik übernimmt die Beratung, Planung und Fertigung von Lager-, Abfüll-, Umschlag-Anlagen in allen Werkstoffen und Produktionsanlagen für flüssige Medien und Gase in allen Anwendungsbereichen.</p>
                                </div>
                            </div>
                            <div class="flex flex-col justify-start items-center text-center gap-24">
                                <a href="#">
                                  <img src="/assets/images/mse-logo-blue.svg" alt="M&S Environmental Technologies">
                                </a>
                                <div class="text-sm">
                                    <p>Im Ausland unterstützt M&S Environmental Technologies tatkräftig im Bereich Engineering, Inbetriebnahme und Service mit Sitz in Ostrava, Tschechien.</p>
                                </div>
                            </div>
                            <div class="flex flex-col justify-start items-center text-center gap-24">
                                <a href="#">
                                  <img src="/assets/images/dry-logo-blue.svg" alt="DrySoTec">
                                </a>
                                <div class="text-sm">
                                    <p>DrySoTec ist Ihr Spezialist für innovative, ökologisch und ökonomisch optimierte Rauchgasreinigungen nach neuestem Stand der Technik.</p>
                                </div>
                            </div>
                            <div class="flex flex-col justify-start items-center text-center gap-24">
                                <a href="#">
                                  <img src="/assets/images/vysion-logo-blue.svg" alt="vysion aset">
                                </a>
                                <div class="text-sm">
                                    <p>vysion-aset errichtet Elektro-, Mess-, Steuerung- und regeltechnische Anlagen in der Industrie, der Energieerzeugung und Energieverteilung. Zu vysion-asets Aufgaben gehören die Planung und Errichtung von Teil- und Komplettanlagen.</p>
                                </div>
                            </div>
                        </div>
                  </div>
                 
               </div>
            </div>
         </section>

</main>
<!--  -->
<script src="/assets/js/all.min.js"></script>
    <script src="/assets/js/script.js"></script>
     
  </body>  
</html>