<!doctype html>
<html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DrySoTec GmbH | DrySoTec GmbH</title>

    <script defer src="assets/js/alpine.js"></script>

    <link rel="stylesheet" href="./assets/css/aos.css">
  <link rel="stylesheet" href="./assets/css/swiper.css" />
  <link rel="stylesheet" href="./assets/css/output.css" />
  <link rel="shortcut icon" href="favicon.webp" type="image/x-icon">
</head>
  <body>
        <a class="skip_link" href="#content">Skip to content</a>
  
<!-- Main -->
    <main id="content">
 
    
      <!-- Swiper Section 2 -->
      <section class="my-sec-lg">
              <div class="component">
                    <div class="section-swiper overflow-hidden">
                        <div class="overflow-visible px-20 md:px-100 lg:px-250">
                          <div class="relative w-full md:block-container">
                              <div class="swiper swiper-cards overflow-visible!">
                              <!-- Additional required wrapper -->
                                <div class="swiper-wrapper items-stretch">

                                  <!-- Slide 1: Unser Liefer- und Leistungsspektrum -->
                                  <div class="swiper-slide h-auto! w-dyn-empty">
                                    <div class="swiper-card relative flex h-full flex-col overflow-hidden rounded-2xl bg-white">
                                      <div class="swiper-card-media  h-220 shrink-0 overflow-hidden xl:h-260">
                                        <img src="./assets/images/ba_Liefer-und-Leistungsspektrum-DrySoTec-VDH-Group-p-1080.webp" alt="Unser Liefer- und Leistungsspektrum" class="h-full w-full object-cover">
                                      </div>
                                      <div class="swiper-card-body prose-dark flex flex-1 flex-col gap-16 p-24 xl:p-32">
                                        <h2 class="font-medium text-blue text-22">Unser Liefer- und Leistungsspektrum</h2>
                                        <p class="flex flex-1 flex-col gap-16 text-dark_blue">
                                          Wir planen, bauen und optimieren innovative Rauchgasreinigungsanlagen – von der Ertüchtigung bestehender Systeme bis zur Umsetzung neuer Anlagen nach aktuellem Stand der Technik.
                                        </p>
                                        <a href="#" class="btn-primary">Mehr erfahren</a>
                                      </div>
                                    </div>
                                  </div>

                                  <!-- Slide 2: Verfügbare Technologien -->
                                  <div class="swiper-slide h-auto! w-dyn-empty">
                                    <div class="swiper-card relative flex h-full flex-col overflow-hidden rounded-2xl bg-white">
                                      <div class="swiper-card-media h-220 shrink-0 overflow-hidden xl:h-260">
                                        <img src="./assets/images/Unsere_Technologien_DrySoTec_VDH-Group-p-1080.webp" alt="Verfügbare Technologien" class="h-full w-full object-cover">
                                      </div>
                                      <div class="swiper-card-body prose-dark flex flex-1 flex-col gap-16 p-24 xl:p-32">
                                        <h2 class="font-medium text-blue text-22">Verfügbare Technologien</h2>
                                        <p class="flex flex-1 flex-col gap-16 text-dark_blue">
                                          Für viele Betreiber von Verbrennungsanlagen stellt sich bei der Planung neuer oder der Ertüchtigung alter Anlagen die Frage der „richtigen“ Verfahrenswahl nach neuestem Stand der Technik unter Berücksichtigung der örtlichen Gegebenheiten.
                                        </p>
                                        <a href="#" class="btn-primary">Mehr erfahren</a>
                                      </div>
                                    </div>
                                  </div>

                                  <!-- Slide 3: Über uns -->
                                  <div class="swiper-slide h-auto! w-dyn-empty">
                                    <div class="swiper-card relative flex h-full flex-col overflow-hidden rounded-2xl bg-white">
                                      <div class="swiper-card-media h-220 shrink-0 overflow-hidden xl:h-260">
                                        <img src="./assets/images/Mehldau-Steinfath-Ueber-uns-VDH-Group-p-500.webp  " alt="Über uns" class="h-full w-full object-cover">
                                      </div>
                                      <div class="swiper-card-body prose-dark flex flex-1 flex-col gap-16 p-24 xl:p-32">
                                        <h2 class="font-medium text-blue text-22">Über uns</h2>
                                        <p class="flex flex-1 flex-col gap-16 text-dark_blue">
                                          Die DrySoTec GmbH wurde im Januar 2004 von den beiden ehemaligen geschäftsführenden Gesellschaftern Dr. rer. nat. Bernd Morun und Dipl.-Ing. Paul-Udo Schmidt als innovativ tätige Anlagenbaufirma auf dem Sektor der Rauchgasreinigung gegründet.
                                        </p>
                                        <a href="#" class="btn-primary">Mehr erfahren</a>
                                      </div>
                                    </div>
                                  </div>

                                  <!-- Slide 1: Unser Liefer- und Leistungsspektrum -->
                                  <div class="swiper-slide h-auto! w-dyn-empty">
                                    <div class="swiper-card relative flex h-full flex-col overflow-hidden rounded-2xl bg-white">
                                      <div class="swiper-card-media  h-220 shrink-0 overflow-hidden xl:h-260">
                                        <img src="./assets/images/ba_Liefer-und-Leistungsspektrum-DrySoTec-VDH-Group-p-1080.webp" alt="Unser Liefer- und Leistungsspektrum" class="h-full w-full object-cover">
                                      </div>
                                      <div class="swiper-card-body prose-dark flex flex-1 flex-col gap-16 p-24 xl:p-32">
                                        <h2 class="font-medium text-blue text-22">Unser Liefer- und Leistungsspektrum</h2>
                                        <p class="flex flex-1 flex-col gap-16 text-dark_blue">
                                          Wir planen, bauen und optimieren innovative Rauchgasreinigungsanlagen – von der Ertüchtigung bestehender Systeme bis zur Umsetzung neuer Anlagen nach aktuellem Stand der Technik.
                                        </p>
                                        <a href="#" class="btn-primary">Mehr erfahren</a>
                                      </div>
                                    </div>
                                  </div>

                                  <!-- Slide 2: Verfügbare Technologien -->
                                  <div class="swiper-slide h-auto! w-dyn-empty">
                                    <div class="swiper-card relative flex h-full flex-col overflow-hidden rounded-2xl bg-white">
                                      <div class="swiper-card-media h-220 shrink-0 overflow-hidden xl:h-260">
                                        <img src="./assets/images/Unsere_Technologien_DrySoTec_VDH-Group-p-1080.webp" alt="Verfügbare Technologien" class="h-full w-full object-cover">
                                      </div>
                                      <div class="swiper-card-body prose-dark flex flex-1 flex-col gap-16 p-24 xl:p-32">
                                        <h2 class="font-medium text-blue text-22">Verfügbare Technologien</h2>
                                        <p class="flex flex-1 flex-col gap-16 text-dark_blue">
                                          Für viele Betreiber von Verbrennungsanlagen stellt sich bei der Planung neuer oder der Ertüchtigung alter Anlagen die Frage der „richtigen“ Verfahrenswahl nach neuestem Stand der Technik unter Berücksichtigung der örtlichen Gegebenheiten.
                                        </p>
                                        <a href="#" class="btn-primary">Mehr erfahren</a>
                                      </div>
                                    </div>
                                  </div>

                                  <!-- Slide 3: Über uns -->
                                  <div class="swiper-slide h-auto! w-dyn-empty">
                                    <div class="swiper-card relative flex h-full flex-col overflow-hidden rounded-2xl bg-white">
                                      <div class="swiper-card-media h-220 shrink-0 overflow-hidden xl:h-260">
                                        <img src="./assets/images/Mehldau-Steinfath-Ueber-uns-VDH-Group-p-500.webp  " alt="Über uns" class="h-full w-full object-cover">
                                      </div>
                                      <div class="swiper-card-body prose-dark flex flex-1 flex-col gap-16 p-24 xl:p-32">
                                        <h2 class="font-medium text-blue text-22">Über uns</h2>
                                        <p class="flex flex-1 flex-col gap-16 text-dark_blue">
                                          Die DrySoTec GmbH wurde im Januar 2004 von den beiden ehemaligen geschäftsführenden Gesellschaftern Dr. rer. nat. Bernd Morun und Dipl.-Ing. Paul-Udo Schmidt als innovativ tätige Anlagenbaufirma auf dem Sektor der Rauchgasreinigung gegründet.
                                        </p>
                                        <a href="#" class="btn-primary">Mehr erfahren</a>
                                      </div>
                                    </div>
                                  </div>

                                   <!-- Slide 1: Unser Liefer- und Leistungsspektrum -->
                                  <div class="swiper-slide h-auto! w-dyn-empty">
                                    <div class="swiper-card relative flex h-full flex-col overflow-hidden rounded-2xl bg-white">
                                      <div class="swiper-card-media  h-220 shrink-0 overflow-hidden xl:h-260">
                                        <img src="./assets/images/ba_Liefer-und-Leistungsspektrum-DrySoTec-VDH-Group-p-1080.webp" alt="Unser Liefer- und Leistungsspektrum" class="h-full w-full object-cover">
                                      </div>
                                      <div class="swiper-card-body prose-dark flex flex-1 flex-col gap-16 p-24 xl:p-32">
                                        <h2 class="font-medium text-blue text-22">Unser Liefer- und Leistungsspektrum</h2>
                                        <p class="flex flex-1 flex-col gap-16 text-dark_blue">
                                          Wir planen, bauen und optimieren innovative Rauchgasreinigungsanlagen – von der Ertüchtigung bestehender Systeme bis zur Umsetzung neuer Anlagen nach aktuellem Stand der Technik.
                                        </p>
                                        <a href="#" class="btn-primary">Mehr erfahren</a>
                                      </div>
                                    </div>
                                  </div>

                                  <!-- Slide 2: Verfügbare Technologien -->
                                  <div class="swiper-slide h-auto! w-dyn-empty">
                                    <div class="swiper-card relative flex h-full flex-col overflow-hidden rounded-2xl bg-white">
                                      <div class="swiper-card-media h-220 shrink-0 overflow-hidden xl:h-260">
                                        <img src="./assets/images/Unsere_Technologien_DrySoTec_VDH-Group-p-1080.webp" alt="Verfügbare Technologien" class="h-full w-full object-cover">
                                      </div>
                                      <div class="swiper-card-body prose-dark flex flex-1 flex-col gap-16 p-24 xl:p-32">
                                        <h2 class="font-medium text-blue text-22">Verfügbare Technologien</h2>
                                        <p class="flex flex-1 flex-col gap-16 text-dark_blue">
                                          Für viele Betreiber von Verbrennungsanlagen stellt sich bei der Planung neuer oder der Ertüchtigung alter Anlagen die Frage der „richtigen“ Verfahrenswahl nach neuestem Stand der Technik unter Berücksichtigung der örtlichen Gegebenheiten.
                                        </p>
                                        <a href="#" class="btn-primary">Mehr erfahren</a>
                                      </div>
                                    </div>
                                  </div>
                                  <!-- Slide 3: Über uns -->
                                  <div class="swiper-slide h-auto! w-dyn-empty">
                                    <div class="swiper-card relative flex h-full flex-col overflow-hidden rounded-2xl bg-white">
                                      <div class="swiper-card-media h-220 shrink-0 overflow-hidden xl:h-260">
                                        <img src="./assets/images/Mehldau-Steinfath-Ueber-uns-VDH-Group-p-500.webp  " alt="Über uns" class="h-full w-full object-cover">
                                      </div>
                                      <div class="swiper-card-body prose-dark flex flex-1 flex-col gap-16 p-24 xl:p-32">
                                        <h2 class="font-medium text-blue text-22">Über uns</h2>
                                        <p class="flex flex-1 flex-col gap-16 text-dark_blue">
                                          Die DrySoTec GmbH wurde im Januar 2004 von den beiden ehemaligen geschäftsführenden Gesellschaftern Dr. rer. nat. Bernd Morun und Dipl.-Ing. Paul-Udo Schmidt als innovativ tätige Anlagenbaufirma auf dem Sektor der Rauchgasreinigung gegründet.
                                        </p>
                                        <a href="#" class="btn-primary">Mehr erfahren</a>
                                      </div>
                                    </div>
                                  </div>

                                </div>

                              </div>

                              <!-- Navigation buttons -->
                              <button
                                type="button"
                                class="md:flex hidden swiper-cards_prev absolute top-1/2 z-20 -translate-y-1/2 p-3 text-white/80 hover:text-white hover:scale-110 transition-all duration-200 md:-left-85 lg:-left-180"
                                aria-label="Previous slide"
                              >
                              <span class="icon-md-4">
                                <svg xmlns="http://www.w3.org/2000/svg" height="40px" width="40px" viewBox="0 0 28 51" fill="none" class="svg" aria-hidden="true"><line x1="25.9415" y1="49.7189" x2="0.941499" y2="24.7189" stroke="currentColor" stroke-width="2.66244"></line><line y1="-1.33122" x2="33.6293" y2="-1.33122" transform="matrix(0.707107 -0.707107 -0.707107 -0.707107 1.88184 23.7795)" stroke="currentColor" stroke-width="2.66244"></line></svg>
                                </span>
                              </button>

                              <button
                                type="button"
                                class="md:flex hidden swiper-cards_next absolute  top-1/2 z-20 -translate-y-1/2 p-3 text-white/80 hover:text-white hover:scale-110 transition-all duration-200 md:-right-85 lg:-right-180"
                                aria-label="Next slide"
                              >
                                <span class="icon-md-4">
                                  <svg xmlns="http://www.w3.org/2000/svg" height="40px" width="40px" viewBox="0 0 28 52" fill="none" class="svg" aria-hidden="true"><line x1="0.941314" y1="0.941498" x2="26.9413" y2="26.9415" stroke="currentColor" stroke-width="2.66244"></line><line y1="-1.33122" x2="33.7312" y2="-1.33122" transform="matrix(-0.704971 0.709236 0.704971 0.709236 26.001 27.8809)" stroke="currentColor" stroke-width="2.66244"></line></svg>
                                </span>
                              </button>

                            </div>
                          </div>
                      </div>
              </div>  
      </section>

</main>
<!-- Production version -->
<script src="assets/js/aos.js"></script>
<script src="assets/js/lucide.js"></script>
<script src="assets/js/swiper-bundle.min.js"></script>
<script src="assets/js/script.js"></script>
     
  </body>  
</html>