<!doctype html>
<html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DrySoTec GmbH | DrySoTec GmbH</title>

    <script defer src="assets/js/alpine.js"></script>

    <link rel="stylesheet" href="./assets/css/aos.css">
  <link rel="stylesheet" href="./assets/css/swiper.css" />
  <link rel="stylesheet" href="./assets/css/output.css" />
  <link rel="shortcut icon" href="favicon.webp" type="image/x-icon">
</head>
  <body>
        <a class="skip_link" href="#content">Skip to content</a>
 
<!-- Main -->
    <main id="content">
       <section class="my-sec-lg">
      <div class="container">
        <div class="row col_1">
          <div class="col">
            <div class="component">
              <div class="block-title text-dark_blue compact-2xl" data-aos="fade-up" data-aos-duration="1000">
                <div class="prose-22 space-y-32">
                  <h2 class="text-35">Ihre Spezialisten zum Thema Rauchgasreinigung</h2>
                  <div class="max-w-820 [&_p]:text-22">
                    <p>DrySoTec GmbH ist Ihr Partner für innovative, ökologisch und ökonomisch optimierte
                      Rauchgasreinigungen nach neuestem Stand der Technik.</p>
                  </div>

                  <!-- <a href="#" class="btn-primary">Mehr erfahren</a> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>  

</main>
<!-- Production version -->
<script src="assets/js/aos.js"></script>
<script src="assets/js/lucide.js"></script>
<script src="assets/js/swiper-bundle.min.js"></script>
<script src="assets/js/script.js"></script>
     
  </body>  
</html>