<!doctype html>
<html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DrySoTec GmbH | DrySoTec GmbH</title>

    <script defer src="assets/js/alpine.js"></script>

    <link rel="stylesheet" href="./assets/css/aos.css">
  <link rel="stylesheet" href="./assets/css/swiper.css" />
  <link rel="stylesheet" href="./assets/css/output.css" />
  <link rel="shortcut icon" href="favicon.webp" type="image/x-icon">
</head>
  <body>
        <a class="skip_link" href="#content">Skip to content</a>

<!-- Main -->
    <main id="content">
  
   <!-- section-home-services -->
        <section class="my-sec-lg">
              <div class="container">
                  <div class="component">
                      <div class="bg-white p-box rounded-3xl">
                          <div class="flex flex-col gap-sec-lg">
                              <div class="flex flex-col justify-start lg:justify-center items-start lg:items-center text-left lg:text-center gap-32 max-w-820 mx-auto">
                                  <h2 class="text-35">Fach- und Produktbereiche</h2>
                                  <div class="prose space-y-20 text-18">
                                      <p>Wir befassen uns mit:</p>
                                      <div class="bullet-list space-y-8 text-16 py-12 text-left w-fit mx-auto">
                                                                        <div class="flex gap-12 items-start">
                                                                            <img src="./assets/images/bae12_icon-checkbox.svg" alt="" class="shrink-0 mt-3">
                                                                            <div>Planung und Bau neuer innovativer Rauchgasreinigungsanlagen</div>
                                                                        </div>
                                                                        <div class="flex gap-12 items-start">
                                                                            <img src="./assets/images/bae12_icon-checkbox.svg" alt="" class="shrink-0 mt-3">
                                                                            <div>Umbau/Ertüchtigung bestehender Anlagen nach neuesten Erkenntnissen</div>
                                                                        </div>
                                                                        <div class="flex gap-12 items-start">
                                                                            <img src="./assets/images/bae12_icon-checkbox.svg" alt="" class="shrink-0 mt-3">
                                                                            <div>anlagentechnische Optimierung bestehender Systeme</div>
                                                                        </div>
                                                                      
                                                                    
                                      </div>
                                      <p>Unser Leistungsspektrum umfasst dabei alle Projektphasen von der Erfassung der Problemstellung über das Erarbeiten systemangepasster Konzepte bis hin zur Umsetzung des besten Konzepts als schlüsselfertige Lösung. Auf Wunsch übernehmen wir nach Übergabe der laufenden Anlage auch den After Sales Service.</p>
                                  </div>
                                </div>
                              <div class="box-grid w-full mx-auto max-w-xl grid lg:grid-cols-2 gap-32 xl:gap-64">
                                  <div class="group relative flex gap-24 items-center">
                                      <div class="w-80 h-80 shadow-card rounded-xl p-8 shrink-0">
                                          <img src="/assets/images/mehldau-und-steinfath-home-icon-beratung.svg" alt="">
                                      </div>
                                      <div class="group-hover:*:text-blue *:transition">
                                          <h3 class="text-22">Beratung</h3>
                                      </div>
                                      <a href="#" class="absolute inset-0" aria-label="Mehr über Beratung erfahren"></a>
                                  </div>
                                  <div class="group relative flex gap-24 items-center">
                                      <div class="w-80 h-80 shadow-card rounded-xl p-8 shrink-0">
                                          <img src="/assets/images/mehldau-und-steinfath-home-icon-planung-entwicklung-und-lieferung.svg" alt="">
                                      </div>
                                      <div class="group-hover:*:text-blue *:transition">
                                          <h3 class="text-22">Planung, Entwicklung & Lieferung</h3>
                                      </div>
                                      <a href="#" class="absolute inset-0" aria-label="Mehr über Planung, Entwicklung & Lieferung erfahren"></a>
                                  </div>
                                  <div class="group relative flex gap-24 items-center">
                                      <div class="w-80 h-80 shadow-card rounded-xl p-8 shrink-0">
                                          <img src="/assets/images/mehldau-und-steinfath-home-icon-montage-und-inbetriebsetzung.svg" alt="">
                                      </div>
                                      <div class="group-hover:*:text-blue *:transition">
                                          <h3 class="text-22">Montage & Inbetriebsetzung</h3>
                                      </div>
                                      <a href="#" class="absolute inset-0" aria-label="Mehr über Montage & Inbetriebsetzung erfahren"></a>
                                  </div>
                                  <div class="group relative flex gap-24 items-center">
                                      <div class="w-80 h-80 shadow-card rounded-xl p-8 shrink-0">
                                          <img src="/assets/images/mehldau-und-steinfath-home-icon-service-und-instandhaltung.svg" alt="">
                                      </div>
                                      <div class="group-hover:*:text-blue *:transition">
                                          <h3 class="text-22">Service & Instandhaltung</h3>
                                      </div>
                                      <a href="#" class="absolute inset-0" aria-label="Mehr über Service & Instandhaltung erfahren"></a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </section>

</main>
<!--  -->
<!-- Production version -->
<script src="assets/js/aos.js"></script>
<script src="assets/js/lucide.js"></script>
<script src="assets/js/swiper-bundle.min.js"></script>
<script src="assets/js/script.js"></script>
     
  </body>  
</html>