<!doctype html>
<html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DrySoTec GmbH | DrySoTec GmbH</title>

    <script defer src="assets/js/alpine.js"></script>

    <link rel="stylesheet" href="./assets/css/aos.css">
  <link rel="stylesheet" href="./assets/css/swiper.css" />
  <link rel="stylesheet" href="./assets/css/output.css" />
  <link rel="shortcut icon" href="favicon.webp" type="image/x-icon">
</head>
  <body>
        <a class="skip_link" href="#content">Skip to content</a>
  
<!-- Main -->
    <main id="content">
  
     <section class="my-sec-lg">
      <div class="container">
        <div class="row cols_1">
          <div class="col">
            <div class="component">
              <div class="section-home-tiles">
                <!-- bottom-card -->
                <div class="grid grid-cols-1 gap-16">
                  <!-- block1 -->
                  <div class="v-blockcard flex justify-center gap-sec-sm border-on-left" data-aos="fade-up" data-aos-duration="1000">
                    <div class="col-50 bg-white rounded-3xl p-block">
                      <div class="vflex justify-end items-start h-full flex-col gap-compact-md">
                        <h3 class="card-title text-22 text-blue">Made in Germany</h3>
                        <div class="vflex gap-compact-sm text-dark_blue text-18 font-normal">
                          <div class="prose-tick text-md font-light space-y-16 leading-relaxed">
                            <p>Unsere langjährige Erfahrung mit den Verfahren</p>
                          </div>
                          
                          <div class="bullet-list space-y-8 text-16 py-12">
                            <ul>
                              <li>Trockenabsorption</li>
                              <li>Sprühabsorption</li>
                              <li>MKT-Systeme</li>
                              <li>Nasswäschen</li>
                              <li>Kostenoptimierung</li>
                            </ul>
                           
                          </div>
                          <div class="text-md font-light space-y-16 leading-relaxed">
                            <p>erlauben es uns, Ihre Aufgabenstellung optimal zu lösen.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-50">
                      <img src="./assets/images/dry-MADE-IN-GERMANY-p-500.webp"
                        alt="Fertigung von Rauchgasreinigungsanlagen in Deutschland"
                        class="w-full h-full  object-cover rounded-3xl max-h-600">
                    </div>
                  </div>
                  <!-- block2 -->
                  <div class="v-blockcard-reverse flex justify-center gap-sec-sm" data-aos="fade-up" data-aos-duration="1000">
                    <div class="col-50 bg-white rounded-3xl p-block h-full">
                      <div class="vflex justify-end items-start h-full flex-col gap-compact-md">
                        <h3 class="card-title text-22 text-blue">Die Einsatzgebiete</h3>
                        <div class="vflex gap-compact-sm text-dark_blue text-18">
                          <div class="text-md font-light space-y-16 leading-relaxed">
                            <p>Unsere Rauchgasreinigungsanlagen umfassen fast alle Anwendungsgebiete der Verbrennung,
                              unter anderem:</p>
                          </div>
                          <div class="bullet-list space-y-8 text-16 py-12 font-normal">
                            <div class="flex gap-12 items-start">
                              <img src="./assets/images/bae12_icon-checkbox.svg" alt="" class="shrink-0 mt-3">
                              <div>Biomasseverbrennungen</div>
                            </div>
                            <div class="flex gap-12 items-start">
                              <img src="./assets/images/bae12_icon-checkbox.svg" alt="" class="shrink-0 mt-3">
                              <div>EBS-Kraftwerke</div>
                            </div>
                            <div class="flex gap-12 items-start">
                              <img src="./assets/images/bae12_icon-checkbox.svg" alt="" class="shrink-0 mt-3">
                              <div>Haus- und Sondermüllverbrennungen</div>
                            </div>
                            <div class="flex gap-12 items-start">
                              <img src="./assets/images/bae12_icon-checkbox.svg" alt="" class="shrink-0 mt-3">
                              <div>Eisen- und NE-metallurgische Prozesse</div>
                            </div>
                            <div class="flex gap-12 items-start">
                              <img src="./assets/images/bae12_icon-checkbox.svg" alt="" class="shrink-0 mt-3">
                              <div>Klärschlammverbrennungen</div>
                            </div>
                            <div class="flex gap-12 items-start">
                              <img src="./assets/images/bae12_icon-checkbox.svg" alt="" class="shrink-0 mt-3">
                              <div>Industriefeuerungen und –abgase (Glas, Keramik, Altreifen…)</div>
                            </div>
                          </div>
                          <a href="#" class="btn-primary">MEHR ERFAHREN</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-50">
                      <img src="./assets/images/dry-Die-Einsatzgebiete-p-500.webp"
                        alt="Industrieanlage als Einsatzgebiet der Rauchgasreinigung"
                        class="size-full object-cover rounded-3xl max-h-600">
                    </div>
                  </div>
                  <!-- block3 -->
                  <div class="v-blockcard flex justify-center gap-sec-sm" data-aos="fade-up" data-aos-duration="1000">
                    <div class="col-50 bg-white rounded-3xl p-block">
                      <div class="vflex justify-end items-start h-full flex-col gap-compact-md">
                        <h3 class="card-title text-22 text-blue">Best Available Technology</h3>
                        <div class="vflex gap-compact-sm text-dark_blue text-18">
                          <div class="text-md font-light space-y-16 leading-relaxed">
                            <p>Unsere Anlagen werden in Abhängigkeit von der Rohgassituation und der erforderlichen
                              Reingaswerte auf den jeweiligen Anwendungsfall nach den BAT-Kriterien (BAT = Best
                              Available Technology) zugeschnitten (tailor-made solution).</p>
                            <p>Zur Entscheidungsfindung auf Basis unserer langjährigen Erfahrung wird sowohl die
                              Verwendung herkömmlicher Additive (Kalkmaterialien) als auch der Einsatz neuer,
                              hocheffizienter Additive (NaHCO3 (Bicar) und Aktivkokse) in den jeweiligen Verfahren
                              vergleichend betrachtet.</p>
                            <p>Ergänzend zur Abscheidung saurer Abgaskomponenten bieten wir ebenfalls die Absenkung der
                              NOx-Emissionen nach den Verfahren der nichtkatalytischen als auch der katalytischen
                              Reduktion an.</p>
                          </div>

                        </div>
                      </div>
                    </div>
                    <div class="col-50">
                      <img src="./assets/images/dry-Best-AvailableTechnology-p-500.webp"
                        alt="Best Available Technology in der Rauchgasreinigungsanlage"
                        class="w-full h-full  object-cover rounded-3xl max-h-600">
                    </div>
                  </div>
                  <!-- block4 -->
                  <div class="v-blockcard-reverse flex justify-center gap-sec-sm" data-aos="fade-up" data-aos-duration="1000">
                    <div class="col-50 bg-white rounded-3xl p-block h-full">
                      <div class="vflex justify-end items-start h-full flex-col gap-compact-md">
                        <h3 class="card-title text-22 text-blue">Unsere Systeme zeichnen sich aus durch:</h3>
                        <div class="vflex gap-compact-sm text-dark_blue text-18 font-normal">
                          <div class="bullet-list space-y-8 text-16 py-12">
                            <ul>
                              <li>sichere Unterschreitung bestehender Grenzwerte (auch in Extremsituationen)</li>
                              <li>einfach zu betreibende Technologie, dadurch sicherer Betrieb in Bezug auf die
                                Leistung minimierte Investitionen</li>
                              <li>geringen Wartungsaufwand</li>
                              <li>Nasswäschen</li>
                              <li>zusätzliche Kostenvorteile in Bezug auf weitergehende Wärmenutzung der Rauchgaswärme.</li>
                            </ul>
                           
                          </div>
                          
                          <a href="#" class="btn-primary">MEHR ERFAHREN</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-50">
                      <img src="./assets/images/dry-UnsereSysteme zeichnen-sich-ausdurch--p-500.webp"
                        alt="Zuverlässige Anlagentechnik von DrySoTec im Betrieb"
                        class="size-full object-cover rounded-3xl max-h-600">
                    </div>
                  </div>
                </div>
              </div>


            </div>
          </div>
        </div>

      </div>
    </section>

</main>
<!--  -->
<!-- Production version -->
<script src="assets/js/aos.js"></script>
<script src="assets/js/lucide.js"></script>
<script src="assets/js/swiper-bundle.min.js"></script>
<script src="assets/js/script.js"></script>
     
  </body>  
</html>