<!doctype html>
<html lang="de">
  <head>
    <!-- Meta data -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="M&S Umwelttechnik ist Ihr Technologiedienstleister im Bereich der Rauchgasentstickung und der selektiven nicht-katalytischen Reduktion (SNCR).">

    <!-- Theme meta -->
    <meta name="theme-color" content="#0066b2">
    <meta name="theme-color" content="#0066b2" media="(prefers-color-scheme: light)">
    <meta name="theme-color" content="#0066b2" media="(prefers-color-scheme: dark)">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <!-- title -->
    <title>Mehldau & Steinfath Umwelttechnik</title>

    <!-- Alpine.js -->
     <script src="/assets/js/alpine.js" defer></script>

    <!-- css -->
     <link rel="stylesheet" href="/assets/css/swiper.css" />
    <link rel="stylesheet" href="/assets/css/output.css" />


  </head>
  <body>
        <a class="skip_link" href="#content">Skip to content</a>

<!-- Main -->
    <main id="content">
  
     <!-- section-partners -->
       <section class="my-sec-lg">
          <div class="container">
              <div class="component">
                  <div class="">
                       <!-- top-title -->
                        <div class="block-title1 compact-2xl text-left relative pb-bottom">
                            <div class="prose-22 space-y-32">
                                 <h2 class="text-35">Unsere Kunden sind unsere Partner: 
                                  <span class="block">Regional, national und international.</span>
                                 </h2>
                              <div class="[&_p]:text-22">
                                <p>Die langjährige vertrauensvolle Zusammenarbeit und das positive Feedback unserer Kunden, Partner und Lieferanten bestätigt uns in unserem täglichen Handeln und bestärkt uns darin, unsere Technologien und Dienstleistungen permanent weiterzuentwickeln.</p>
                              </div>
                                                
                              <!-- <a href="#" class="btn-primary">Mehr erfahren</a> -->
                            </div>
                            <div class="bg-image">
                                <!-- <img src="/assets/images/dry-Die-Einsatzgebiete-p-500.webp" alt="">
                                <div class="overlay"></div> -->
                            </div>
                        </div>
                        <!-- swiper -->
                          <div class="relative">
                              <div class="bg-white w-full box-white rounded-3xl">
                                  <div class="swiper swiper-partners">
                                <!-- Additional required wrapper -->
                                    <div class="swiper-wrapper items-stretch">

                                      <!-- Slide 1 -->
                                      <div class="swiper-slide h-auto!">
                                            <div class="img-wrapper flex flex-col gap-20 w-140 mx-auto">
                                                <div class="partner-logo-item">
                                                    <img src="/assets/images/bayernoil.webp" alt="Bayernoil" loading="lazy">
                                                </div>
                                                <div class="partner-logo-item">
                                                    <img src="/assets/images/rockwool-logo.webp" alt="Rockwool" loading="lazy">
                                                </div>
                                            </div>
                                      </div>

                                      <!-- Slide 2 -->
                                      <div class="swiper-slide h-auto!">
                                            <div class="img-wrapper flex flex-col gap-20 w-275 mx-auto">
                                                <div class="partner-logo-item">
                                                    <img src="/assets/images/mva.webp" alt="MVA" loading="lazy">
                                                </div>
                                                <div class="partner-logo-item">
                                                    <img src="/assets/images/posco.webp" alt="posco" loading="lazy">
                                                </div>
                                            </div>
                                      </div>

                                      <!-- Slide 3 -->
                                      <div class="swiper-slide h-auto!">
                                            <div class="img-wrapper flex flex-col gap-20 w-275 mx-auto">
                                                <div class="partner-logo-item">
                                                    <img src="/assets/images/italcementi.webp" alt="italcementi" loading="lazy">
                                                </div>
                                                <div class="partner-logo-item">
                                                    <img src="/assets/images/fsg.webp" alt="FSG" loading="lazy">
                                                </div>
                                            </div>
                                      </div>

                                      <!-- Slide 4 -->
                                      <div class="swiper-slide h-auto!">
                                            <div class="img-wrapper flex flex-col gap-20 w-275 mx-auto">
                                                <div class="partner-logo-item">
                                                    <img src="/assets/images/atlanticcopper.webp" alt="atlantic copper" loading="lazy">
                                                </div>
                                                <div class="partner-logo-item">
                                                    <img src="/assets/images/him.webp" alt="HIM" loading="lazy">
                                                </div>
                                            </div>
                                      </div>

                                      <!-- Slide 5 -->
                                      <div class="swiper-slide h-auto!">
                                            <div class="img-wrapper flex flex-col gap-20 w-275 mx-auto">
                                                <div class="partner-logo-item">
                                                    <img src="/assets/images/bib.webp" alt="bib" loading="lazy">
                                                </div>
                                                <div class="partner-logo-item">
                                                   
                                                </div>
                                            </div>
                                      </div>

                                      <!-- Slide 6 -->
                                      <div class="swiper-slide h-auto!">
                                            <div class="img-wrapper flex flex-col gap-20 w-275 mx-auto">
                                                <div class="partner-logo-item">
                                                    <img src="/assets/images/a_zak.webp" alt="Zak" loading="lazy">
                                                </div>
                                                <div class="partner-logo-item">
                                                    <img src="/assets/images/stadtwerke1.webp" alt="stadtwerke" loading="lazy">
                                                </div>
                                            </div>
                                      </div>

                                      <!-- Slide 7 -->
                                      <div class="swiper-slide h-auto!">
                                            <div class="img-wrapper flex flex-col gap-20 w-275 mx-auto">
                                                <div class="partner-logo-item">
                                                    <img src="/assets/images/nestle-p-1080.webp" alt="nestle" loading="lazy">
                                                </div>
                                                <div class="partner-logo-item">
                                                    <img src="/assets/images/remondis.webp" alt="Remondis" loading="lazy">
                                                </div>
                                            </div>
                                      </div>

                                      <!-- Slide 8 -->
                                      <div class="swiper-slide h-auto!">
                                            <div class="img-wrapper flex flex-col gap-20 w-275 mx-auto justify-center h-full">
                                                <div class="partner-logo-item">
                                                    <img src="/assets/images/swg.webp" alt="SWG" loading="lazy">
                                                </div>
                                                 <div class="partner-logo-item">
                                                    <img src="/assets/images/evo.webp" alt="EVO" loading="lazy">
                                                </div>
                                            </div>
                                      </div>

                                    </div>

                                  </div>

                                 
                              </div>
                               <!-- Pagination -->
                                  <div class="swiper-pagination-partners flex! items-center justify-center gap-8 pt-32"></div>
                              <!-- Navigation buttons -->
                                  <button
                                type="button"
                                class="logo-nav-prev absolute top-1/2 -left-45 -translate-y-1/2 hidden lg:flex items-center justify-center"
                                aria-label="Previous slide"
                              >
                               <span class="icon-md-4">
                              <img src="/assets/images/slider-arrow-left.svg" alt="">
                              </span>
                              </button>
                              <button
                                type="button"
                                class="logo-nav-next absolute top-1/2 -right-45  -translate-y-1/2 hidden lg:flex items-center justify-center"
                                aria-label="Next slide"
                              >
                                <span class="icon-md-4">
                                  <img src="/assets/images/slider-arrow-right.svg" alt="">
                                </span>
                              </button>
                          </div>
                  </div>
              </div>
          </div>
       </section>

</main>
<!--  -->
<script src="/assets/js/all.min.js"></script>
    <script src="/assets/js/script.js"></script>
     
  </body>  
</html>