<!doctype html>
<html lang="de">
  <head>
    <!-- Meta data -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="M&S Umwelttechnik ist Ihr Technologiedienstleister im Bereich der Rauchgasentstickung und der selektiven nicht-katalytischen Reduktion (SNCR).">

    <!-- Theme meta -->
    <meta name="theme-color" content="#0066b2">
    <meta name="theme-color" content="#0066b2" media="(prefers-color-scheme: light)">
    <meta name="theme-color" content="#0066b2" media="(prefers-color-scheme: dark)">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <!-- title -->
    <title>Mehldau & Steinfath Umwelttechnik</title>

    <!-- Alpine.js -->
     <script src="/assets/js/alpine.js" defer></script>

    <!-- css -->
     <link rel="stylesheet" href="/assets/css/swiper.css" />
    <link rel="stylesheet" href="/assets/css/output.css" />


  </head>
  <body>
        <a class="skip_link" href="#content">Skip to content</a>
 
<!-- Main -->
    <main id="content">
  
       <!-- section-content- text -->
        <section class="my-sec-lg">
                  <div class="container">
                    <div class="row col_1">
                      <div class="col">
                          <div class="component">
                              <div class="block-title text-dark_blue p-bottom">
                                              <div class="prose-22 space-y-32">
                                                  <h2 class="text-35">Ihre Spezialisten zum Thema Rauchgasreinigung</h2>
                                                  <div class="max-w-820 [&_p]:text-22">
                                                      <p>DrySoTec GmbH ist Ihr Partner für innovative, ökologisch und ökonomisch optimierte Rauchgasreinigungen nach neuestem Stand der Technik.</p>
                                                  </div>
                                                
                                                    <!-- <a href="#" class="btn-primary">Mehr erfahren</a> -->
                                              </div>
                                        </div>
                          </div>
                      </div>
                    </div>
                  </div>
        </section>  

</main>
<!--  -->
<script src="/assets/js/all.min.js"></script>
    <script src="/assets/js/script.js"></script>
     
  </body>  
</html>