<!doctype html>
<html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DrySoTec GmbH | DrySoTec GmbH</title>

    <script defer src="assets/js/alpine.js"></script>

    <link rel="stylesheet" href="./assets/css/aos.css">
  <link rel="stylesheet" href="./assets/css/swiper.css" />
  <link rel="stylesheet" href="./assets/css/output.css" />
  <link rel="shortcut icon" href="favicon.webp" type="image/x-icon">
</head>
<body>
    <a class="skip_link" href="#content">Skip to content</a>
    
    <!-- Main -->
    <main id="content">
        <!-- uber image section -->
      <section class="">
            <div class="container">
                    <div class="component">
                          <div class="w-full rounded-3xl overflow-hidden mt-0 sm:mt-30">
                               <img src="./assets/images/Mehldau-Steinfath-Ueber-uns-VDH-Group.webp" alt="uber uns box image" class="aspect-square xlg:aspect-[2.8/1] object-cover size-full">
                          </div>
                    </div>
            </div>
     </section>
    </main>
    
 <!-- Production version -->
<script src="assets/js/aos.js"></script>
<script src="assets/js/lucide.js"></script>
<script src="assets/js/swiper-bundle.min.js"></script>
<script src="assets/js/script.js"></script>
</body>
</html>
